@import "../waybar/themes/catppuccin/mocha.css";

window {
  border-radius: 6px;
  border: 1px solid #fab387;
  background-color: #181825;
  color: #cdd6f4;
}

#input {
  margin: 6px;
  border-radius: 3px;
  background-color: #11111b;
  border: none;
  outline: none;
  color: #cdd6f4;
}

inner-box {
  border: 0px;
  border-top: 1px solid #fab387;
}

#entry {
  margin: 6px;
  border-radius: 2px;
}

#entry:selected {
  background-color: #74c7ec;
}
#text:selected {
  color: #11111b;
}

#img {
  margin: 6px;
  height: 10px;
  width: 10px;
}
